<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
    rel="icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Asterisk.svg/819px-Asterisk.svg.png"
  />
    <title> PassMan</title>
    <style>
        body{
         background-image: linear-gradient(to right, rgb(40, 79, 252) , rgb(8, 197, 245))
         }
        .password{
            height:50px;
            width:200px;
            background-color: brown;
        }
        h2{
          margin-left: 33%;
          margin-top:1%;
          margin-bottom: 1%;
          font-size:2.9vw;
        }
        .card{
      background-color: rgb(90, 210, 247);
        }
    </style>
  </head>
  <body>
    <h2>PassMan Generated a Pass For You</h2>
    <div class="jumbotron">
      <h1 class="display-4">Password --> "<strong><%- password %></strong>"</h1>
      <p class="lead">Above is the 12 character long Random password that contains 3 lower case alphabets,3 upper case alphabets, 3 special symbols and 3 numbers.</p>
      <hr class="my-4">
      <p>You can copy the above password to use it.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/">Main Page</a>
      </p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>