<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .password{
            height:50px;
            width:200px;
            background-color: brown;
        }
    </style>
  </head>
  <body>
    <h1>Hello,<%= name %> </h1>
    <div class="container-fluid" >
    <form method="POST" action="\mainpage">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Number of small alphabets</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="NoAlphaS">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Number of capital alphabets</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="NoAlphaL">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Number of Numerals</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="NoNum">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Number of special characters</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="NoSpecialCh">
            </div>
          </div>
            <button class="btn btn-primary">Generate</button>
          </div>
        </div>
      </form>
      <button id="button" class="btn btn-primary">Generate</button>
    <div class="password">
      <%= Pass %>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      document.getElementById("button").addEventListener('click',function1)
      function function1(){
      
         $.ajax({ 
            url: '/generatePass',
            type: 'POST',
            cache: false, 
            data: { field1: 1, field2: 2 }, 
            success: function(data){
               alert('Success!')
            }
            , error: function(jqXHR, textStatus, err){
                alert('text status '+textStatus+', err '+err)
            }
         })
 }
     </script>
  </body>
</html>